Repository iago-r/django-DefectDojo, pull requests merged in 2025-04, with the labels that each got.

#20 docs: add README back
  docker-compose-crivo.yml
  readme-docs/GT-CRIVO.md
Labels: docs, docker

#22 fix openvas-xmlparser
  dojo/tools/openvas/xml_parser.py
Labels: parser

#24 feat: pass CRIVO_STORAGE_PATH to scripts and django
  crivo/init.sh
  crivo/process-metadata.py
  docker-compose-crivo-init.yml
  docker-compose-crivo.yml
  docker-compose.yml
  dojo/settings/crivo_settings.py
  readme-docs/GT-CRIVO.md
Labels: docs, docker

#25 feat(metadata): finished cve card interface with dynamic loading
  dojo/static/dojo/css/cve_metadata.css
  dojo/templates/dojo/snippets/card.html
  dojo/templates/dojo/snippets/finding_metadata.html
Labels: ui

#27 feat: reorder and recolor CVE cards by EPSS percentile
  dojo/crivo/datastore.py
  dojo/templates/dojo/snippets/card.html
  dojo/wsgi.py
Labels: ui

#30 fix: reserved CVE IDs not in MITRE metadata
  dojo/tools/openvas/xml_parser.py
Labels: parser

#32 including permision for members and groups
  dojo/problem/redis.py
  dojo/problem/views.py
  dojo/settings/crivo_settings.py
  dojo/tools/openvas/xml_parser.py
  dojo/wsgi.py
Labels: parser

#34 including votes column
  dojo/finding/views.py
  dojo/problem/views.py
  dojo/static/dojo/js/crivo.js
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/problem_findings_list_snippet.html
  dojo/templates/dojo/view_finding.html
  readme-docs/GT-CRIVO.md
Labels: docs, ui

#35 ui: rename Votes columns to Risk
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/problem_findings_list_snippet.html
  dojo/templates/dojo/view_finding.html
Labels: ui

#41 ordering votes
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/problem_findings_list_snippet.html
Labels: ui

#42 OS for xml_parser
  dojo/tools/openvas/xml_parser.py
Labels: parser
