Repository iago-r/django-DefectDojo, pull requests merged in 2025-03, with the labels that each got.

#3 Streamline Deployment
  Dockerfile.django-debian
  docker-compose-crivo-init.yml
  dojo/settings/local_settings.py
  readme-docs/GT-CRIVO.md
Labels: docs, docker

#4 Feature/crossing CVE EPSS data
  docker-compose-crivo-init.yml
  dojo/data_store.py
  dojo/finding/views.py
  dojo/settings/settings.py
  dojo/static/dojo/css/dojo.css
  dojo/templates/dojo/snippets/finding_metadata.html
  dojo/templates/dojo/snippets/test.html
  dojo/templates/dojo/view_finding.html
  dojo/tools/openvas/xml_parser.py
  dojo/wsgi.py
Labels: docker, ui, parser

#11 fix(dump_trainning_sets.py): changing column name
  crivo/process-metadata.py
  dojo/settings/crivo_settings.py
  dojo/templatetags/metadata_filters.py
  polls_plugin/management/commands/dump_training_sets.py
Labels: ui

#13 fix: load and handle cve metadata
  dojo/finding/views.py
  dojo/tools/openvas/xml_parser.py
Labels: parser
